.content {
  padding: 50px 20px;
  width: 100vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.show {
  display: block;
}

.modal {
  background-color: rgba(0, 0, 0, 70%);
  z-index: 5;
}
.modal-dialog {
  opacity: none;
  top: 30%;
  z-index: 999;
}

.remove {
  display: none;
}
